/* Style the header container */
.header-container {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 90px;
}

/* Style the header buttons */
.header-container .btn,
.header-container .btn a {
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  width: 120px;
}

/* Style the heading within the header */
.header-container .header {
  font-size: 28px;
}

.searchBar {
  width: "100px";
}
