@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Quicksand&display=swap");

/* App styling */
.App {
  background-color: #14151f;
  font-family: "Quicksand";
  font-size: 17px;
  min-height: 90vh;
  padding: 10px 350px 10px;
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}
